__pycache__/
*.py[cod]
*$py.class

env/
venv/
.venv/

pip-wheel-metadata/
*.egg-info/

build/
dist/

.idea/
*.iml
*.ipr
*.iws

*~
*.swp
*.swo

.DS_Store

.env
.env.*

*.log

*.sqlite3
*.db

docker-compose.override.yml

htmlcov/
.coverage
.pytest_cache/